@font-face {
    font-family: 'SF Pro';
    src: url("./assets/fonts/SF-Pro.ttf");
}
body{
    font-family: 'SF Pro' !important;
    transition: background-color 200ms linear !important;
    min-height:100vh;
    height:100vh;
}
